body {
  background-image: url("https://imgur.com/MgcuwQD.jpg");
  background-size: cover; /* set the background image to cover the entire screen */
}

.lower img {
  display: block; /* center the images horizontally */
  margin: 0 auto;
}

a.return-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 1s ease-in-out;
}

.upper h1 {
  width: 100%;
  background-color: #FEE4B3;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 40px;
  color: white;
  text-align: center;
}

.lower .img-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.lower .img-container img {
  margin-right: 20px; /* space between image and description */
}

.lower .img-container p {
  font-size: 25px;
  line-height: 1.6;
  color: white;
  background-color: #C4B7D0;
  padding: 10px; /* add padding to the description box */
  border-radius: 5px; /* add rounded corners to the description box */
}